In [1]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.express as px
import unicodedata

In [15]:
# Datos de Consumo de agua CDMX primer semestre 2019

In [2]:
#ruta = "D:\iCPAC\Tlacuepalli\dataton_AGUA_2021"
#ruta = "dataton_AGUA_2021"
df = pd.read_csv("/home/jfractal/Documentos/dataton_2021/dataton_AGUA_2021/consumo-agua.csv")
#df.dtypes ## muestra los nombres de los campos y su tipo.\n",
df.columns
#df.head()

Index(['id', 'geo_point_2d', 'geo_shape', 'consumo_total_mixto', 'anio',
       'nomgeo', 'consumo_prom_dom', 'consumo_total_dom', 'alcaldia',
       'colonia', 'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

In [17]:
df['alcaldia']
#type(df['alcaldia'])
"""dataframe with one column"""
df[['alcaldia']] 
df[['alcaldia', 'bimestre']]
"""Selecciona sólo los renglones 1 a 3"""
df[1:4]
df.loc[3]

id                                                                      3
geo_point_2d                                 19.4596467168,-99.1044693641
geo_shape               {"type": "MultiPolygon", "coordinates": [[[[-9...
consumo_total_mixto                                                   0.0
anio                                                                 2019
nomgeo                                                  Gustavo A. Madero
consumo_prom_dom                                                      0.0
consumo_total_dom                                                     0.0
alcaldia                                                GUSTAVO A. MADERO
colonia                                                NUEVA TENOCHTITLAN
consumo_prom_mixto                                                    0.0
consumo_total                                                      253.53
consumo_prom                                                        84.51
consumo_prom_no_dom                                                 84.51
bimestre                                                                3
consumo_total_no_dom                                               253.53
gid                                                                 57267
indice_des                                                           BAJO
Name: 3, dtype: object

In [3]:
df2 = df.iloc[:, [8,9,7,17,1,14,16]]
df2.head(1)
#print(df['bimestre'].unique()) ##muestra los valores únicos del campo bimestre"

,alcaldia,colonia,consumo_total_dom,indice_des,geo_point_2d,bimestre,gid
0,GUSTAVO A. MADERO,7 DE NOVIEMBRE,468.23,ALTO,"19.4552601937,-99.1126617526",3,57250

In [4]:
df2 = df.iloc[:, [8,9,7,17,1]]
df2.columns
type(df2)
#df2.head(10)

pandas.core.frame.DataFrame

In [5]:
df2['lat'], df2['lon'] = df2['geo_point_2d'].str.split(',', 1).str ## Separamos el campo geo_point_2d en dos nuevas columnas\n",
df2.head(20)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Columnar iteration over characters will be deprecated in future releases.

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,alcaldia,colonia,consumo_total_dom,indice_des,geo_point_2d,lat,lon
0,GUSTAVO A. MADERO,7 DE NOVIEMBRE,468.23,ALTO,"19.4552601937,-99.1126617526",19.4552601937,-99.1126617526
1,GUSTAVO A. MADERO,7 DE NOVIEMBRE,107.81,MEDIO,"19.4552601937,-99.1126617526",19.4552601937,-99.1126617526
2,GUSTAVO A. MADERO,7 DE NOVIEMBRE,122.93,POPULAR,"19.4557195871,-99.1135822797",19.4557195871,-99.1135822797
3,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,BAJO,"19.4596467168,-99.1044693641",19.4596467168,-99.1044693641
4,AZCAPOTZALCO,PROHOGAR,539.49,BAJO,"19.4741606185,-99.1467497317",19.4741606185,-99.1467497317
5,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,927.57,BAJO,"19.4786132637,-99.1505710391",19.4786132637,-99.1505710391
6,AZCAPOTZALCO,BARRIO COLTONGO,4633.05,BAJO,"19.4802112624,-99.1523159396",19.4802112624,-99.1523159396
7,AZCAPOTZALCO,BARRIO COLTONGO,0.00,POPULAR,"19.4790956153,-99.1489199748",19.4790956153,-99.1489199748
8,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,1716.72,BAJO,"19.4785851242,-99.1488473055",19.4785851242,-99.1488473055
9,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,207.65,BAJO,"19.4772727955,-99.1479205102",19.4772727955,-99.1479205102
10,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,641.29,BAJO,"19.4781335949,-99.1507408878",19.4781335949,-99.1507408878
11,AZCAPOTZALCO,PROHOGAR,1131.28,BAJO,"19.4789219563,-99.1562313253",19.4789219563,-99.1562313253
12,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,610.89,BAJO,"19.4767578432,-99.1478878893",19.4767578432,-99.1478878893
13,AZCAPOTZALCO,PROHOGAR,243.48,BAJO,"19.4768572203,-99.1496791839",19.4768572203,-99.1496791839
14,AZCAPOTZALCO,PROHOGAR,1230.94,BAJO,"19.4771746704,-99.151148571",19.4771746704,-99.151148571
15,AZCAPOTZALCO,PROHOGAR,779.07,BAJO,"19.4752596477,-99.1581066994",19.4752596477,-99.1581066994
16,AZCAPOTZALCO,PROHOGAR,28.06,MEDIO,"19.4775094703,-99.1563781296",19.4775094703,-99.1563781296
17,AZCAPOTZALCO,PROHOGAR,1355.94,BAJO,"19.4772419499,-99.1546373049",19.4772419499,-99.1546373049
18,AZCAPOTZALCO,PROHOGAR,771.80,BAJO,"19.4767139517,-99.1511666429",19.4767139517,-99.1511666429
19,AZCAPOTZALCO,ARENAL,299.85,BAJO,"19.4668561839,-99.1513359606",19.4668561839,-99.1513359606

## Consumo total domiciliario por alcaldía

In [6]:
consumoAguaAlcaldia = pd.DataFrame(df2.groupby(["alcaldia"]).consumo_total_dom.sum())##Agrupamos por alcaldía y calculamos su total de consumo\r\n",
print(consumoAguaAlcaldia)
consumoAguaAlcaldia = consumoAguaAlcaldia.rename_axis('alcaldia').reset_index()
print(consumoAguaAlcaldia)

                     consumo_total_dom
alcaldia
ALVARO OBREGON            6.590161e+06
AZCAPOTZALCO              6.153755e+06
BENITO JUAREZ             9.894931e+06
COYOACAN                  5.128303e+06
CUAJIMALPA                2.064264e+06
CUAUHTEMOC                1.034611e+07
GUSTAVO A. MADERO         9.196449e+06
IZTACALCO                 4.663498e+06
IZTAPALAPA                5.263020e+06
MAGDALENA CONTRERAS       8.449665e+05
MIGUEL HIDALGO            8.640463e+06
MILPA ALTA                7.250709e+04
TLAHUAC                   6.018023e+05
TLALPAN                   2.877269e+06
VENUSTIANO CARRANZA       5.007008e+06
XOCHIMILCO                1.283415e+06
               alcaldia  consumo_total_dom
0        ALVARO OBREGON       6.590161e+06
1          AZCAPOTZALCO       6.153755e+06
2         BENITO JUAREZ       9.894931e+06
3              COYOACAN       5.128303e+06
4            CUAJIMALPA       2.064264e+06
5            CUAUHTEMOC       1.034611e+07
6     GUSTAVO A. MADERO       9.196449e+06
7             IZTACALCO       4.663498e+06
8            IZTAPALAPA       5.263020e+06
9   MAGDALENA CONTRERAS       8.449665e+05
10       MIGUEL HIDALGO       8.640463e+06
11           MILPA ALTA       7.250709e+04
12              TLAHUAC       6.018023e+05
13              TLALPAN       2.877269e+06
14  VENUSTIANO CARRANZA       5.007008e+06
15           XOCHIMILCO       1.283415e+06

## Consumo total por colonia

In [22]:
consumoAguaColonia = pd.DataFrame(df2.groupby(["colonia"]).consumo_total_dom.sum())##Agrupamos por colonia y calculamos su consumo Total de agua\n",
print(consumoAguaColonia)
consumoAguaColonia = consumoAguaColonia.rename_axis('colonia').reset_index()
print(consumoAguaColonia)

                      consumo_total_dom
colonia
10 DE ABRIL                     3518.36
10 DE MAYO                     39893.07
12 DE DICIEMBRE                14665.91
15 DE AGOSTO                   22758.02
16 DE SEPTIEMBRE               26090.27
...                                 ...
ZENON DELGADO                   4709.78
ZENTLAPATL                        12.20
ZONA CENTRO                   258997.92
ZONA ESCOLAR                   78071.28
ZONA ESCOLAR ORIENTE          162172.81

[1340 rows x 1 columns]
                   colonia  consumo_total_dom
0              10 DE ABRIL            3518.36
1               10 DE MAYO           39893.07
2          12 DE DICIEMBRE           14665.91
3             15 DE AGOSTO           22758.02
4         16 DE SEPTIEMBRE           26090.27
...                    ...                ...
1335         ZENON DELGADO            4709.78
1336            ZENTLAPATL              12.20
1337           ZONA CENTRO          258997.92
1338          ZONA ESCOLAR           78071.28
1339  ZONA ESCOLAR ORIENTE          162172.81

[1340 rows x 2 columns]

In [42]:
print(df2.columns)
coordenasGeoColonia = df2.iloc[:,[1,4]]
print(coordenasGeoColonia)
consumoAguaColonia = consumoAguaColonia.merge(coordenasGeoColonia, left_on='colonia', right_on='colonia')
print("ConsumoAguaColonia Merge \n", consumoAguaColonia)
#consumoAguaColonia = pd.DataFrame(df2.groupby(["colonia"]).consumo_total_dom.sum())##Agrupamos por colonia y calculamos su consumo Total de agua\r\n",
#print("ConsumoAguaColonia groupby \n", consumoAguaColonia)

Index(['alcaldia', 'colonia', 'consumo_total_dom', 'indice_des',
       'geo_point_2d', 'lat', 'lon'],
      dtype='object')
                  colonia                  geo_point_2d
0          7 DE NOVIEMBRE  19.4552601937,-99.1126617526
1          7 DE NOVIEMBRE  19.4552601937,-99.1126617526
2          7 DE NOVIEMBRE  19.4557195871,-99.1135822797
3      NUEVA TENOCHTITLAN  19.4596467168,-99.1044693641
4                PROHOGAR  19.4741606185,-99.1467497317
...                   ...                           ...
71097            GUERRERO  19.4485642979,-99.1399395353
71098            GUERRERO  19.4493393649,-99.1457191092
71099            GUERRERO  19.4483923147,-99.1459300721
71100            GUERRERO  19.4475868325,-99.1425094385
71101            GUERRERO  19.4474017534,-99.1397251034

[71102 rows x 2 columns]
ConsumoAguaColonia Merge
                     colonia  consumo_total_dom                  geo_point_2d
0               10 DE ABRIL            3518.36  19.4484486191,-99.2082263276
1               10 DE ABRIL            3518.36  19.4484486191,-99.2082263276
2               10 DE ABRIL            3518.36  19.4480072204,-99.2072757305
3               10 DE ABRIL            3518.36  19.4492767479,-99.2098629359
4               10 DE ABRIL            3518.36  19.4492767479,-99.2098629359
...                     ...                ...                           ...
71097  ZONA ESCOLAR ORIENTE          162172.81  19.5385804343,-99.1431693602
71098  ZONA ESCOLAR ORIENTE          162172.81  19.5399478794,-99.1426698299
71099  ZONA ESCOLAR ORIENTE          162172.81    19.538015962,-99.144921543
71100  ZONA ESCOLAR ORIENTE          162172.81  19.5332869483,-99.1444998592
71101  ZONA ESCOLAR ORIENTE          162172.81  19.5381981998,-99.1419400524

[71102 rows x 3 columns]

In [41]:
consumoAguaColonia.columns

Index(['consumo_total_dom'], dtype='object')

In [43]:
print(consumoAguaColonia.columns)
consumoAguaColonia2 = consumoAguaColonia.iloc[:,[0,1,2]]
consumoAguaColonia2 = consumoAguaColonia2.drop_duplicates(subset=['colonia'])
consumoAguaColonia2['lat'], consumoAguaColonia2['lon'] = consumoAguaColonia2['geo_point_2d'].str.split(',', 1).str
consumoAguaColonia2[['lat', 'lon']] = consumoAguaColonia2[['lat', 'lon']].astype(float)

Index(['colonia', 'consumo_total_dom', 'geo_point_2d'], dtype='object')

C:\Users\TLACAE~1\AppData\Local\Temp/ipykernel_35004/1811700164.py:4: FutureWarning:

Columnar iteration over characters will be deprecated in future releases.

In [28]:
consumoAguaIndiceDes = pd.DataFrame( ((df2.groupby(['indice_des']).consumo_total_dom.sum() )))##Agrupamos por índice de desarrollo y calculamos su consumo total de agua\r\n",
consumoAguaIndiceDes.head()

            consumo_total_dom
indice_des
ALTO             2.009006e+07
BAJO             3.267609e+07
MEDIO            8.508594e+06
POPULAR          1.735319e+07

In [29]:
coloniasIndiceDes = pd.DataFrame(df2.indice_des.value_counts() )### Calculamos una tabla de frecuencias de colonias con su indice de desarrollo\r\n",
print(coloniasIndiceDes)

         indice_des
BAJO          29248
POPULAR       16539
ALTO          15516
MEDIO          9799

# Datos de Población CDMX 2020

In [7]:
#ruta = "D:\iCPAC\Tlacuepalli\dataton_AGUA_2021"
#ruta = "dataton_AGUA_2021"
pob = pd.read_csv("/home/jfractal/Documentos/dataton_2021/dataton_AGUA_2021/ITER2020_09CDMX.csv" )
pob.columns

Index(['Clave de entidad federativa', 'Nombre de la entidad',
       'Clave de municipio o demarcación territorial',
       'Nombre del municipio o demarcación territorial', 'Clave de localidad',
       'Nombre de la localidad', 'Población total', 'Población femenina',
       'Población masculina', 'Población de 0 a 2 años',
       'Población femenina de 0 a 2 años', 'Población masculina de 0 a 2 años',
       'Población de 3 años y más', 'Población femenina de 3 años y más',
       'Población masculina de 3 años y más', 'Población de 5 años y más',
       'Población femenina de 5 años y más',
       'Población masculina de 5 años y más', 'Población de 12 años y más',
       'Población femenina de 12 años y más',
       'Población masculina de 12 años y más', 'Población de 15 años y más',
       'Población femenina de 15 años y más',
       'Población masculina de 15 años y más', 'Población de 18 años y más',
       'Población femenina de 18 años y más',
       'Población masculina de 18 años y más', 'Población de 3 a 5 años',
       'Población femenina de 3 a 5 años', 'Población masculina de 3 a 5 años',
       'Población de 6 a 11 años', 'Población femenina de 6 a 11 años',
       'Población masculina de 6 a 11 años', 'Población de 8 a 14 años',
       'Población femenina de 8 a 14 años',
       'Población masculina de 8 a 14 años', 'Población de 12 a 14 años',
       'Población femenina de 12 a 14 años',
       'Población masculina de 12 a 14 años', 'Población de 15 a 17 años',
       'Población femenina de 15 a 17 años',
       'Población masculina de 15 a 17 años', 'Población de 18 a 24 años',
       'Población femenina de 18 a 24 años',
       'Población masculina de 18 a 24 años',
       'Población femenina de 15 a 49 años ', 'Población de 60 años y más',
       'Población femenina de 60 años y más',
       'Población masculina de 60 años y más', 'Relación hombres-mujeres',
       'Población de 0 a 14 años', 'Población de 15 a 64 años',
       'Población de 65 años y más', 'Longitud', 'Latitud'],
      dtype='object')

In [ ]:
#Esto me ocaciona error !
ruta = "dataton_AGUA_2021"
pob = pd.read_excel(ruta+"\ITER2020 - 09 Ciudad de México.xlsx")

pob.head(10)

,Instituto Nacional de Estadística y Geografía (INEGI),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,Principales resultados por localidad (ITER) 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporte de consulta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Clave de entidad federativa,Nombre de la entidad,Clave de municipio o demarcación territorial,Nombre del municipio o demarcación territorial,Clave de localidad,Nombre de la localidad,Población total,Población femenina,Población masculina,Población de 0 a 2 años,...,Población femenina de 15 a 49 años,Población de 60 años y más,Población femenina de 60 años y más,Población masculina de 60 años y más,Relación hombres-mujeres,Población de 0 a 14 años,Población de 15 a 64 años,Población de 65 años y más,Longitud,Latitud
4,09,Ciudad de México,000,Total de la entidad Ciudad de México,0000,Total de la Entidad,9209944,4805017,4404927,267151,...,2508606,1491619,853207,638412,91.67,1652773,6525440,1022105,NaN,NaN
5,09,Ciudad de México,000,Total de la entidad Ciudad de México,9998,Localidades de una vivienda,320,128,192,16,...,69,37,11,26,150,72,223,25,NaN,NaN
6,09,Ciudad de México,000,Total de la entidad Ciudad de México,9999,Localidades de dos viviendas,364,178,186,9,...,95,48,20,28,104.49,96,240,28,NaN,NaN
7,09,Ciudad de México,002,Azcapotzalco,0000,Total del Municipio,432205,227255,204950,11784,...,115600,78650,45565,33085,90.19,70366,306611,54863,NaN,NaN
8,09,Ciudad de México,002,Azcapotzalco,0001,Azcapotzalco,432205,227255,204950,11784,...,115600,78650,45565,33085,90.19,70366,306611,54863,"99°11'03.698"" W","19°29'02.770"" N"
9,09,Ciudad de México,003,Coyoacán,0000,Total del Municipio,614447,325337,289110,14791,...,162387,126592,73584,53008,88.86,91327,432544,90448,NaN,NaN

In [8]:
print(pob.columns)
pobT = pob.iloc[:,[3,5,6]]
pobT = pobT.rename(columns={"Nombre del municipio o demarcación territorial": "NomMun", "Nombre de la localidad":"NomLoc", "Población total":"PT"  } )
pobT = pobT[ (pobT['NomLoc'] == "Total del Municipio") ]
pobT = pobT.iloc[:,[0,2]]
print(pobT)

Index(['Clave de entidad federativa', 'Nombre de la entidad',
       'Clave de municipio o demarcación territorial',
       'Nombre del municipio o demarcación territorial', 'Clave de localidad',
       'Nombre de la localidad', 'Población total', 'Población femenina',
       'Población masculina', 'Población de 0 a 2 años',
       'Población femenina de 0 a 2 años', 'Población masculina de 0 a 2 años',
       'Población de 3 años y más', 'Población femenina de 3 años y más',
       'Población masculina de 3 años y más', 'Población de 5 años y más',
       'Población femenina de 5 años y más',
       'Población masculina de 5 años y más', 'Población de 12 años y más',
       'Población femenina de 12 años y más',
       'Población masculina de 12 años y más', 'Población de 15 años y más',
       'Población femenina de 15 años y más',
       'Población masculina de 15 años y más', 'Población de 18 años y más',
       'Población femenina de 18 años y más',
       'Población masculina de 18 años y más', 'Población de 3 a 5 años',
       'Población femenina de 3 a 5 años', 'Población masculina de 3 a 5 años',
       'Población de 6 a 11 años', 'Población femenina de 6 a 11 años',
       'Población masculina de 6 a 11 años', 'Población de 8 a 14 años',
       'Población femenina de 8 a 14 años',
       'Población masculina de 8 a 14 años', 'Población de 12 a 14 años',
       'Población femenina de 12 a 14 años',
       'Población masculina de 12 a 14 años', 'Población de 15 a 17 años',
       'Población femenina de 15 a 17 años',
       'Población masculina de 15 a 17 años', 'Población de 18 a 24 años',
       'Población femenina de 18 a 24 años',
       'Población masculina de 18 a 24 años',
       'Población femenina de 15 a 49 años ', 'Población de 60 años y más',
       'Población femenina de 60 años y más',
       'Población masculina de 60 años y más', 'Relación hombres-mujeres',
       'Población de 0 a 14 años', 'Población de 15 a 64 años',
       'Población de 65 años y más', 'Longitud', 'Latitud'],
      dtype='object')
                     NomMun         PT
3              Azcapotzalco   432205.0
5                  Coyoacán   614447.0
7     Cuajimalpa de Morelos   217686.0
34        Gustavo A. Madero  1173351.0
36                Iztacalco   404695.0
38               Iztapalapa  1835486.0
40   La Magdalena Contreras   247622.0
66               Milpa Alta   152685.0
313          Álvaro Obregón   759137.0
322                 Tláhuac   392313.0
377                 Tlalpan   699928.0
544              Xochimilco   442178.0
658           Benito Juárez   434153.0
660              Cuauhtémoc   545884.0
662          Miguel Hidalgo   414470.0
664     Venustiano Carranza   443704.0

# Creamos un dataset de la unión de datos de consumo de agua y población total de la cdmx

In [9]:
#Homologamos el campo \"alcaldia\". Transformamos de minusculas a mayusculas y quitamos tíldes
pobT["NomMun"] = pobT["NomMun"].str.upper()##Tranformar de minusculas a mayusculas
pobT['NomMun']=pobT['NomMun'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')##Quita acentos
pobT = pobT.replace({"CUAJIMALPA DE MORELOS": "CUAJIMALPA",
               "LA MAGDALENA CONTRERAS": "MAGDALENA CONTRERAS" })##Remplazamos los registros
print(pobT)

                  NomMun         PT
3           AZCAPOTZALCO   432205.0
5               COYOACAN   614447.0
7             CUAJIMALPA   217686.0
34     GUSTAVO A. MADERO  1173351.0
36             IZTACALCO   404695.0
38            IZTAPALAPA  1835486.0
40   MAGDALENA CONTRERAS   247622.0
66            MILPA ALTA   152685.0
313       ALVARO OBREGON   759137.0
322              TLAHUAC   392313.0
377              TLALPAN   699928.0
544           XOCHIMILCO   442178.0
658        BENITO JUAREZ   434153.0
660           CUAUHTEMOC   545884.0
662       MIGUEL HIDALGO   414470.0
664  VENUSTIANO CARRANZA   443704.0

In [10]:
pobT_consAgua = pobT.merge(consumoAguaAlcaldia, left_on='NomMun', right_on='alcaldia')
#pobT_consAgua = pobT_consAgua.iloc[:,[0,1,3]]
#print(pobT_consAgua)
pobT.head(5)

               NomMun         PT
3        AZCAPOTZALCO   432205.0
5            COYOACAN   614447.0
7          CUAJIMALPA   217686.0
34  GUSTAVO A. MADERO  1173351.0
36          IZTACALCO   404695.0

## Creamos nuevas variables

In [11]:
pobT_consAgua["ConsumoPercapita"] = pobT_consAgua.consumo_total_dom/pobT_consAgua.PT
pobT_consAgua.sort_values(by=['ConsumoPercapita'], inplace=True, ascending=False )
print(pobT_consAgua)

                 NomMun         PT             alcaldia  consumo_total_dom  \
12        BENITO JUAREZ   434153.0        BENITO JUAREZ       9.894931e+06
14       MIGUEL HIDALGO   414470.0       MIGUEL HIDALGO       8.640463e+06
13           CUAUHTEMOC   545884.0           CUAUHTEMOC       1.034611e+07
0          AZCAPOTZALCO   432205.0         AZCAPOTZALCO       6.153755e+06
4             IZTACALCO   404695.0            IZTACALCO       4.663498e+06
15  VENUSTIANO CARRANZA   443704.0  VENUSTIANO CARRANZA       5.007008e+06
2            CUAJIMALPA   217686.0           CUAJIMALPA       2.064264e+06
8        ALVARO OBREGON   759137.0       ALVARO OBREGON       6.590161e+06
1              COYOACAN   614447.0             COYOACAN       5.128303e+06
3     GUSTAVO A. MADERO  1173351.0    GUSTAVO A. MADERO       9.196449e+06
10              TLALPAN   699928.0              TLALPAN       2.877269e+06
6   MAGDALENA CONTRERAS   247622.0  MAGDALENA CONTRERAS       8.449665e+05
11           XOCHIMILCO   442178.0           XOCHIMILCO       1.283415e+06
5            IZTAPALAPA  1835486.0           IZTAPALAPA       5.263020e+06
9               TLAHUAC   392313.0              TLAHUAC       6.018023e+05
7            MILPA ALTA   152685.0           MILPA ALTA       7.250709e+04

    ConsumoPercapita
12         22.791345
14         20.847017
13         18.952952
0          14.238046
4          11.523487
15         11.284568
2           9.482760
8           8.681123
1           8.346209
3           7.837765
10          4.110807
6           3.412324
11          2.902485
5           2.867371
9           1.533985
7           0.474880

# Gráficas


    "## Gráfica de Consumo de agua por alcaldía"

In [35]:
data = [go.Bar(x=consumoAguaAlcaldia["alcaldia"] , y=consumoAguaAlcaldia["consumo_total_dom"])]
layout = go.Layout(title="Consumo de Agua Domiciliario por Alcaldía\nCDMX 2019",
                   xaxis= dict(title="Alcaldías"),
                   yaxis= dict(title="Consumo Total de Agua"),
                   barmode = "stack" )
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Gráfica de la Población total por alcaldía

In [36]:
data1 = [go.Bar(x=pobT["NomMun"], y=pobT["PT"] )]
layout1 = go.Layout(title="Población Total de la CDMX por Alcaldía 2020",
                    xaxis=dict(title="Alcaldía"),
                    yaxis=dict(title="Población Total"),
                    barmode="stack",
                    title_font_size=24)
fig1 = go.Figure(data=data1, layout=layout1)
pyo.plot(fig1, filename="poblacion_total.html")

'poblacion_total.html'

## Gráfica de Consumo de agua percapita

In [17]:
data2 = [go.Bar(x=pobT_consAgua["NomMun"], y=pobT_consAgua["ConsumoPercapita"])]
layout2 = go.Layout(title="<b>Consumo per cápita de Agua en la CDMX 2019</b>",
                     xaxis=dict(title="Alcaldía"),
                     yaxis=dict(title="Consumo de agua"),
                     barmode="stack", 
                     title_font_size=24,
                     uniformtext_minsize=5, title_x=0.5)
fig2 = go.Figure(data=data2, layout=layout2)
pyo.plot(fig2, filename="consumo_agua_percapita.html")

'consumo_agua_percapita.html'

## Mapa de consumo de agua domiciliario por colonia

In [44]:
mapbox_access_token = "pk.eyJ1IjoiaXZhbmxvc2FyIiwiYSI6ImNrZTJpdWN0NDA5cXUyem1oOGx3NGh1bGsifQ.wuhB2vmk4QGrciFWYygqaA"
    
fig3 = px.scatter_mapbox(consumoAguaColonia2, lat = "lat", lon = "lon", hover_name= "colonia",
                            hover_data = ["consumo_total_dom"],
                            color="consumo_total_dom", size_max = 15, zoom = 10,
                            size="consumo_total_dom",color_continuous_scale=px.colors.cyclical.IceFire,
                            title = "Consumo de agua por colonia",
                            
                            )
fig3.update_layout(
    autosize=True,
    hovermode='closest', #muestra el dato más cercano al mover el cursor por el gráfico\n",
    mapbox=dict(
        accesstoken=mapbox_access_token,
        zoom=12 #zoom inicial del mapa
    ),
)
    

pyo.plot(fig3, filename="ConsumoAguaDom.html")

'ConsumoAguaDom.html'